.fun{
    background-color: #0000FF;
    height: 50px;
    width: 120px;
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
    border: #fff;
}

.funn{
    background-color: #0000FF;
    height: 50px;
    width: 120px;
    color: #fff;
    font-size: 20px;
    margin-left: 600px;
    border: #fff;
}

.cla{
    background-color: #0000FF;
    height: 50px;
    width: 120px;
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
    border: #fff;
}

.claa{
    background-color: #0000FF;
    height: 50px;
    width: 120px;
    color: #fff;
    font-size: 20px;
    margin-left: 600px;
    border: #fff;
}

h1{
    text-align: center;
}
